
#lechou{
    background-color:white;
    height: 4rem;
    color: turquoise;

    
}
header{
    background-color: rgb(20, 63, 255);
    height: 20rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    display: inline-block;
    font-size: 20px;
}

ul{
    word-spacing: 2em;
    text-align: right;
    display:inline-block;
    margin-left: 45rem;
    margin-top: 1rem;
}
h1{
    text-align: left;
    display: inline-block; 
    margin-left: 3rem;
    margin-top: 1rem;
}

ul:hover{
    color:darkblue;
}
#html{
    display: inline-block;
    padding-left: 10rem;
    margin-left: 9rem;
}

#css{
    display: inline-block;
}

#js{
    display: inline-block;
}

#node{
    display: inline-block;
}
main{
    height: 23rem;
}
h4{
    font-size: 2em;
    color: rgb(251, 16, 16);
    text-align: center;
}
h5{
    font-size: 2em;
    color: red;
    text-align: center;
}

#to{
    background-color: dimgrey;
}
#to1{
    display: inline-block;
    padding-left: 205px;
}

#to2{
    display: inline-block;
}
#to3{
    display: inline-block;
}
#to4{
    display: inline-block;
    padding-left: 205px;
}
#to5{
    display: inline-block;
    padding-left: 0px;
}
#to6{
    display: inline-block;
    padding-left: 0px;
}

footer{
    background-color: yellow;
}
h6{
    font-size: 2em;
    color:red;
    text-align: center;
}
#p2{
    display: inline-block;
    padding-left: 80px;
}

#p3{
    display: inline-block;
}
#p1{
    display: inline-block;
}
#ingo{
    display: inline-block;
}

.jpeg{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.form{
    font-size: 2em;
    color: rgb(28, 212, 236);
}
form{
    padding-left: 5%
}

.cadre{
    display: inline-block;
}
.email{
    display: inline-block;
    padding-left: 30rem;
}
#video{
    margin-left: 50rem;
    margin-top: -10rem;
    display: inline-block;
}

.audio{
    padding: 0px;
}
